.radius{
    border-radius: 5%;
    border:1px solid black;
}
.try{
    color:#ababab;
}
.trying{
    
    height:150px;
}
.App{
    margin: 10px;
    padding: 10px !important;
    /* width: 200px !important; */
    height:200px !important;
   
}
.hehe{
    background-color: black;
    
}
.yes{
    background-color:rgba(41,41,41,0.9) ;
}
.no{
    color: #ababab;
}
.fix2{
    margin-bottom: 80px; 
}
.one{
    height: 70px;
    width: 70px;
}
.txt{
    font-size: 15px;
    
}